HARDWARE REQUIREMENTS:
• RR307 Fingerprint sensor
• NODE MCU
• jumper wires
• DC Voltage Regulator
• Relay Module
• Solenoid Lock
• 12V DC adapter
• Breadboard

SOFTWARE REQUIREMENTS:
• Arduino IDE
• Libraries:
➢ Software serial
➢ Adafruit fingerprint
